@media (width > 375px) {
  /* I'm using important here but a better solution would be to either use a library 
      or make a hook that uses `matchMedia`
   */
  .main {
    grid-template-areas:
      'search search upload'
      'list list list' !important;
  }
}
