/* There's a bit of duplication here because I'm replicating css vars here and in theme.js
    generally I would favor one approach using a component library. 
 */
#root {
  --spacing: 8px;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
